/*.one{
	display: none;
}*/
.one .servepic {
    width: 530px;
    height: 400px;
    position: relative;
    top: 16px;
    left: 16px;
}

.one .servepic img {
    width: 530px;
    height: 400px;
}

.one .clear_text {
    width: 550px;
    height: 480px;
    text-align: left;
    position: relative;
    margin-left: 580px;
    margin-top: -380px;
}

.one .clear_text p:nth-child(1) {
    font-size: 28px;
    margin-bottom: 22px;
}

.one .clear_text p:nth-child(2) {
    font-size: 20px;
    color: #aaa;
}

.one .request {
    width: 396px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 26px;
    background: #d2ac2b;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    margin-left: 660px;
    margin-top: -160px;
    text-align: center;
}

/*第一页*/

.two {
    /*display: none;*/
}

.two .servepic {
    width: 530px;
    height: 400px;
    position: relative;
    top: 16px;
    left: 16px;
    /*border: 1px solid red;*/
}

.two .servepic img {
    width: 530px;
    height: 400px;
}

.two .clear_text {
    width: 580px;
    height: 480px;
    text-align: left;
    position: relative;
    margin-left: 580px;
    margin-top: -380px;
    /*border: 1px solid red;*/
}

.two .clear_text p:nth-child(1) {
    font-size: 28px;
    margin-bottom: 22px;
}

.two .clear_text p:nth-child(2) {
    font-size: 20px;
    color: #aaa;
}

.two .request {
    width: 396px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 26px;
    background: #d2ac2b;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    margin-left: 660px;
    margin-top: -160px;
    text-align: center;
}

/*第二页*/

.three {
    /*display: none;*/
}

.three .servepic {
    width: 530px;
    height: 400px;
    position: relative;
    top: 16px;
    left: 16px;
    /*border: 1px solid red;*/
}

.three .servepic img {
    width: 530px;
    height: 400px;
}

.three .clear_text {
    width: 580px;
    height: 480px;
    text-align: left;
    position: relative;
    margin-left: 580px;
    margin-top: -380px;
    /*border: 1px solid red;*/
}

.three .clear_text p:nth-child(1) {
    font-size: 28px;
    margin-bottom: 22px;
}

.three .clear_text p:nth-child(2) {
    font-size: 20px;
    color: #aaa;
}

.three .request {
    width: 396px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 26px;
    background: #d2ac2b;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    margin-left: 660px;
    margin-top: -160px;
    text-align: center;
}

/*第三页*/

.four {
    /*display: none;*/
}

.four .servepic {
    width: 530px;
    height: 400px;
    position: relative;
    top: 16px;
    left: 16px;
    /*border: 1px solid red;*/
}

.four .servepic img {
    width: 530px;
    height: 400px;
}

.four .clear_text {
    width: 580px;
    height: 480px;
    text-align: left;
    position: relative;
    margin-left: 580px;
    margin-top: -380px;
    /*border: 1px solid red;*/
}

.four .clear_text p:nth-child(1) {
    font-size: 28px;
    margin-bottom: 22px;
}

.four .clear_text p:nth-child(2) {
    font-size: 20px;
    color: #aaa;
}

.four .request {
    width: 396px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 26px;
    background: #d2ac2b;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    margin-left: 660px;
    margin-top: -160px;
    text-align: center;
}

/*第四页*/

.detail {
    display: none;
}

.detail .servepic {
    width: 530px;
    height: 400px;
    position: relative;
    top: 16px;
    left: 16px;
}

.detail .servepic img {
    width: 530px;
    height: 400px;
}

.detail .clear_text {
    width: 550px;
    height: 480px;
    text-align: left;
    position: relative;
    margin-left: 580px;
    margin-top: -380px;
}

.detail .clear_text p:nth-child(1) {
    font-size: 28px;
    margin-bottom: 22px;
}

.detail .clear_text p:nth-child(2) {
    height: 160px;
    font-size: 20px;
    color: #aaa;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.laternow {
    width: 460px;
    height: 200px;
    position: relative;
    margin-left: 660px;
    margin-top: -252px;
    text-align: center;
}

.detail .laternow p {
    width: 396px;
    height: 70px;
    line-height: 70px;
    color: #d2ac2b;
    font-size: 26px;
    background: transparent;
    border: 2px solid #d2ac2b;
    border-radius: 5px;
    margin-bottom: 20px;
}

.detail .laternow .nowsel {
    width: 396px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 26px;
    background: #d2ac2b;
    border: 2px solid #fff;
    border-radius: 5px;
}

.mianban6 {
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    display: none;
}

.mianban_6 {
    width: 600px;
    height: 428px;
    background: #f1f1f1;
    margin: 140px auto;
    border-radius: 8px;
    position: relative;
    /*display: none;*/
}

.mianban_6 .success {
    width: 600px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    /*border: 1px solid red;*/
}

.mianban_6 .success p {
    color: #000;
    font-size: 32px;

}

.mianban_6 .text {
    width: 560px;
    text-align: left;
    margin: 0 auto;
}

.mianban_6 .text p {
    color: #aaa;
    font-size: 21px;
    text-align: center;
}

.mianban_6 .choose {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 30px auto;
    border-radius: 100px;
    border: 5px solid #d2ad2b;
    text-align: center;
}

.mianban_6 .complete {
    width: 375px;
    height: 60px;
    margin: 55px auto;
    color: #fff;
    background: #d2ad2b;
    font-size: 26px;
    line-height: 60px;
    border-radius: 5px;
    border: 2px solid #fff;
    text-align: center;
}

/*面板6*/
.date {
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    display: none;
}

.date .sub_date {
    width: 600px;
    height: 428px;
    background: #f1f1f1;
    margin: 140px auto;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.date .sub_date p {
    font-size: 30px;
    color: #000;
}
.date .sub_date span {
    font-size: 10px;
    color: #d23539;
    display: none;
}
.date .sub_date ul {
    width: 90%;
    height: 210px;
    margin: 20px auto;
    text-align: left;
    /*border: 1px solid red;*/
}

.date .sub_date ul li {
    width: 105px;
    height: 210px;
    float: left;
    text-align: center;
    /*border: 1px solid #d2ad2b;*/
}

.date .sub_date ul .sele-time {
    border: 1px solid #d2ad2b;
}

.date .sub_date ul li p {
    font-size: 20px;
}

.date .sub_date ul li p:nth-child(1) {
    margin-top: 10px;
}

.date .sub_date ul li p:nth-child(2) {
    margin-bottom: 10px;
}

.date .sub_date ul li input {
    width: 75px;
    height: 50px;
    border: none;
    text-align: center;
    font-size: 30px;
    color: #d2ac2b;
    outline: none;
    caret-color: #d2ac2b;
}

.date .sub_date ul .activesel {
    width: 70px;
    height: 45px;
    color: #d2ac2b;
    font-size: 28px;
    border: 1px solid #d2ad2b;
    outline: none;
}

.date .sub_date div {
    width: 375px;
    height: 60px;
    margin: 20px auto;
    color: #d2ad2b;
    background: transparent;
    border: 1px solid #d2ad2b;
    font-size: 26px;
    line-height: 60px;
    border-radius: 5px;
}

.date .sub_date .completesel {
    width: 375px;
    height: 60px;
    margin: 20px auto;
    color: #fff;
    background: #d2ad2b;
    font-size: 26px;
    line-height: 60px;
    border-radius: 5px;
}