body {
    width: 1280px;
    height: 720px;
    background: url(../img/startwelcome/bgstart.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.vision {
    /*border: 1px solid red;*/
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.logo {
    margin: 140px auto;
    text-align: center;
    /*border: 1px solid red;*/
}

.logo img {
    width: auto;
    height: 60px;
}

.logo p {
    color: #3b3b3b;
    font-size: 18px;
    margin-right: 8px;
}

.logo-title {
    font-size: 90px;
    color: #d2ac2b;
    height: 92px;
    /*font-weight: bold;*/
}

.device-unusable {
    width: 1280px;
    height: 720px;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.unusable {
    width: 600px;
    height: 240px;
    background: #fff;
    color: #000000;
    margin: 230px auto;
    border-radius: 8px;
    position: relative;
    text-align: center;
    line-height: 240px;
    font-size: 28px;
}

.bigfont{
	font-size: 30px;
	position: absolute;
	top:50%;
	left: 50%;
	text-align: center;
	height: 30px;
	width: 240px;
	margin-top: -25px;
	margin-left: -120px;
}
