<!--服务类 详情-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/common.css" rel="stylesheet">
		<link href="../css/main.css" rel="stylesheet">
		<link href="../css/serve_details.css" rel="stylesheet">
		<link href="../css/tab.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="../js/tab/jquery.js"></script>
		<script src="../js/tab/jquery.lazyload.js"></script>

		<script src="../js/vue.min.js"></script>
	</head>

	<body>
		<div class="shadow"></div>
		<!--遮罩黑色背景-->
		<div class="content" id="app">
			<!--整体开始-->
			<div class="header">
				<img id="logo" alt="" class="lt" />
				<img src="../img/startwelcome/shu.png" alt="" class="lt2" />
				<div class="welcome">
					<p><span id="customer"></span></p>
					<p> <span id="roomNumber"></span></p>
				</div>
				<div class="weathertime">
					<ul>
						<li>
							<span id="dateweek"></span>
						</li>
						<li>
							<img src="../img/icon-weather.png" />
							<span id="wendu"></span>
						</li>
						<li>
							<img src="../img/icon-time.png" />
							<span id="timemm"></span>
						</li>
					</ul>
				</div>
			</div>

			<div id="wrapper">
				<div class="box demo2">
					<div class="one">
						<!--第一页-->
						<div class="servepic">
							<img :src="img" />
						</div>
						<div class="clear_text">
							<p v-text="title"></p>
							<!--<p v-text="description"></p>-->
							<p id="desc1"></p>
						</div>
						<div class="request" id="request"></div>
						<!--<div class="next acnext" id="next_1">-->
						<!--<img src="../img/other/next.png" />-->
						<!--</div>-->
					</div>

					<div class="detail">
						<!--细节页-->
						<div class="servepic">
							<img :src="img" />
						</div>
						<div class="clear_text">
							<p v-text="title"></p>
							<!--<p v-text="description"></p>-->
							<p id="desc"></p>
						</div>
						<div class="laternow">
							<p id="later"></p>
							<p class="nowsel" id="now"></p>
						</div>
					</div>

				</div>
			</div>
			<div id="bottomVue" class="bottom_tiao">
				<img v-if="window.sessionStorage.language=='en'" src="../img/bottom-en.png" />
				<img v-else src="../img/bottom-ch.png" />
			</div>
			<div class="mianban6">
				<!--弹出层6-->
				<div class="mianban_6">
					<div class="success">
						<p id="success"></p>
					</div>
					<div class="text">
						<p id="successText"></p>
					</div>
					<div class="choose">
						<img src="../img/other/choose.png" />
					</div>
					<div class="complete" id="complete"></div>
				</div>
			</div>
			<!--弹出层6结束	-->
			<div class="date">
				<!--选择时间开始-->
				<div class="sub_date">
					<br/>
					<p id="choose-time"></p>
					</p><span id="timeHint"></span>
					<ul>
						<li id="mon" class="sele-time">
							<p id="text-month"></p>
							<input id="jian1" class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp1" class="activesel"></input>
							<input id="jia1" class="" name="" type="button" value="▼" />
						</li>
						<li id="day">
							<p id="text-day"></p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp2" class="activesel">
							<input class="" name="" type="button" value="▼" />
						</li>
						<li id="year">
							<p id="text-year"></p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp3" class="activesel"></input>
							<input class="" name="" type="button" value="▼" />
						</li>
						<li id="hour">
							<p id="text-hour"></p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp4" class="activesel"></input>
							<input class="" name="" type="button" value="▼" />
						</li>
						<li id="mm">
							<p id="text-mm"></p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp5" class="activesel"></input>
							<input class="" name="" type="button" value="▼" />
						</li>
					</ul>
					<div id="comp" class="completesel"></div>
				</div>
			</div>
			<!--选择时间结束-->

		</div>
		<!--整体结束-->
		<script src="../js/top.js"></script>
		<script type="text/javascript">
			var expected_delivery_time = 0;
			var timeStr;
			//头部的日期和时间
			$("#dateweek").html(dateweek); //日期
			//$("#timemm").html(time);
			$("#roomNumber").html(window.sessionStorage.language == "zh-cn" ? "房间号 " + window.localStorage.roomId : "Room " + window.localStorage.roomId);
//			$("#customer").html(window.sessionStorage.language == "zh-cn" ? "欢迎 " + window.sessionStorage.customer : "Welcome " + window.sessionStorage.customer);
			if(window.sessionStorage.language == "zh-cn") {
				if(window.sessionStorage.customerTitle == 'Mr') {
					$("#customer").html("欢迎 " + window.sessionStorage.customer + '先生');
				} else if(window.sessionStorage.customerTitle == 'Ms') {
					$("#customer").html("欢迎 " + window.sessionStorage.customer + '女士');
				}

			} else {
				if(window.sessionStorage.customerTitle == 'Mr') {
					$("#customer").html("Welcome " + 'Mr ' + window.sessionStorage.customer);
				} else if(window.sessionStorage.customerTitle == 'Ms') {
					$("#customer").html("Welcome " + 'Ms ' + window.sessionStorage.customer);
				}
			}
			try {
				$("#logo").attr("src", JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url);
			} catch(e) {}

			//时间选择

			var date = new Date();
			var year = date.getFullYear();
			var month = date.getMonth() + 1;
			var day = date.getDate();
			var hh = date.getHours();
			var mm = date.getMinutes();
			//    var mm = 0;
			$('#dateinp1').attr('placeholder', month);
			$('#dateinp2').attr('placeholder', day);
			$('#dateinp3').attr('placeholder', year);
			$('#dateinp4').attr('placeholder', hh);
			$('#dateinp5').attr('placeholder', mm);

			var month_s = document.getElementById("dateinp1").placeholder;
			var day_s = document.getElementById("dateinp2").placeholder;
			var year_s = document.getElementById("dateinp3").placeholder;
			var hour_s = document.getElementById("dateinp4").placeholder;
			var mm_s = document.getElementById("dateinp5").placeholder;

			var mmChanged = false;
			var changeNumber;
			changeNumber = 60 - parseInt(mm_s);
			changeNumber = changeNumber % 15;
			if(changeNumber == 0) {
				changeNumber = 15;
			}
			// 初始化
			var currentpage = 1;
			var current1 = 1;
			var current2 = 2;
			var currentDateType = 1;
			$("#dateinp1").focus();
			var totalDay;
			setTotalDay(year, month);

			function resetDate() {
				//时间选择
				date = new Date();
				year = date.getFullYear();
				month = date.getMonth() + 1;
				day = date.getDate();
				hh = date.getHours();
				mm = date.getMinutes();

				$('#dateinp1').attr('placeholder', month);
				$('#dateinp1').attr('value', "");
				$('#dateinp2').attr('placeholder', day);
				$('#dateinp2').attr('value', "");
				$('#dateinp3').attr('placeholder', year);
				$('#dateinp3').attr('value', "");
				$('#dateinp4').attr('placeholder', hh);
				$('#dateinp4').attr('value', "");
				$('#dateinp5').attr('placeholder', mm);
				$('#dateinp5').attr('value', "");

				month_s = document.getElementById("dateinp1").placeholder;
				day_s = document.getElementById("dateinp2").placeholder;
				year_s = document.getElementById("dateinp3").placeholder;
				hour_s = document.getElementById("dateinp4").placeholder;
				mm_s = document.getElementById("dateinp5").placeholder;
				currentDateType = 1;
				$("#dateinp1").focus();
			}

			document.onkeydown = function(e) {
				e = window.event || e;
				switch(e.keyCode) {
					case 13: //enter
					case 29443:
						toPage();
						break;
					case(37 || "KEY_LEFT"): //向左键
					case 4:
						switch(currentpage) {
							case 1:
								switch(current1) {
									case 1:
										break;
									case 2:
										$("#next_1").css("border", "none");
										current1 = 1;
										break;
									default:
										break;
								}
								break;
							case 2:
								break;
							case 3:
								switch(currentDateType) {
									case 1:
										$("#mon").removeClass("sele-time");
										$("#mm").addClass("sele-time");
										currentDateType = 5;
										break;
									case 2:
										$("#day").removeClass("sele-time");
										$("#mon").addClass("sele-time");
										currentDateType = 1;
										break;
									case 3:
										$("#year").removeClass("sele-time");
										$("#day").addClass("sele-time");
										currentDateType = 2;
										break;
									case 4:
										$("#hour").removeClass("sele-time");
										$("#year").addClass("sele-time");
										currentDateType = 3;
										break;
									case 5:
										$("#mm").removeClass("sele-time");
										$("#hour").addClass("sele-time");
										currentDateType = 4;
										break;
									default:
										break;
								}
								break;
							case 4:
								break;
							default:
								break;
						}
						break;
					case(39 || "KEY_RIGHT"): //向右键
					case 5:
						switch(currentpage) {
							case 1:
								switch(current1) {
									case 1:
										$("#next_1").css("border", "1px solid #d2ac2b");
										current1 = 2;
										break;
									case 2:
										break;
									default:
										break;
								}
								break;
							case 2:

								break;
							case 3:
								switch(currentDateType) {
									case 1:
										$("#mon").removeClass("sele-time");
										$("#day").addClass("sele-time");
										currentDateType = 2;
										break;
									case 2:
										$("#day").removeClass("sele-time");
										$("#year").addClass("sele-time");
										currentDateType = 3;
										break;
									case 3:
										$("#year").removeClass("sele-time");
										$("#hour").addClass("sele-time");
										currentDateType = 4;
										break;
									case 4:
										$("#hour").removeClass("sele-time");
										$("#mm").addClass("sele-time");
										currentDateType = 5;
										break;
									case 5:
										$("#mm").removeClass("sele-time");
										$("#mon").addClass("sele-time");
										currentDateType = 1;
										break;
									case 6:
										break;
									default:
										break;
								}
								break;
							case 4:
								break;
							default:
								break;
						}
						break;
					case(38 || "KEY_UP"): //向上键
					case 29460:
						switch(currentpage) {
							case 1:
								break;
							case 2:
								switch(current2) {
									case 1:
										break;
									case 2:
										$("#now").removeClass("nowsel");
										$("#later").addClass("nowsel");
										current2 = 1;
										break;
									default:
										break;
								}
								break;
							case 3:
								switch(currentDateType) {
									case 1: //month
										if(month_s < 12) {
											month_s++;
											$('#dateinp1').attr('value', month_s);
										} else {
											month_s = 1;
											$('#dateinp1').attr('value', month_s);
										}
										setTotalDay(year_s, month_s);;
										break;
									case 2:
										if(day_s < totalDay) {
											day_s++;
											$('#dateinp2').attr('value', day_s);
										} else {
											day_s = 1;
											$('#dateinp2').attr('value', day_s);
										};
										break;
									case 3:
										year_s++;
										$('#dateinp3').attr('value', year_s);
										setTotalDay(year_s, month_s);
										break;
									case 4:
										if(hour_s < 23) {
											hour_s++;
											$('#dateinp4').attr('value', hour_s);
										} else {
											hour_s = 0;
											$('#dateinp4').attr('value', hour_s);
										};
										break;
									case 5:
										if(!mmChanged) {
											if(mm_s < 45) {
												mm_s = parseInt(mm_s) + changeNumber;
												$('#dateinp5').attr('value', mm_s);
											} else {
												mm_s = 0;
												$('#dateinp5').attr('value', mm_s);
												hour_s++;
												$('#dateinp4').attr('value', hour_s);
											}
											mmChanged = true;
										} else {
											if(mm_s < 45) {
												mm_s = parseInt(mm_s) + 15;
												$('#dateinp5').attr('value', mm_s);
											} else {
												mm_s = 0;
												$('#dateinp5').attr('value', mm_s);
												hour_s++;
												$('#dateinp4').attr('value', hour_s);
											}
										};
										break;
									default:
										break;
								}
								setHint();
								break;
							case 4:
								break;
							default:
								break;
						}
						break;
					case(40 || "KEY_DOWN"): //向下键
					case 29461:
						switch(currentpage) {
							case 1:
								break;
							case 2:
								$("#later").removeClass("nowsel");
								$("#now").addClass("nowsel");
								current2 = 2;
								break;
							case 3:
								switch(currentDateType) {
									case 1:
										if(month_s > 1) {
											month_s--;
											$('#dateinp1').attr('value', month_s);
										} else {
											month_s = 12;
											$('#dateinp1').attr('value', month_s);
										}
										setTotalDay(year_s, month_s);;
										break;
									case 2:
										if(day_s > 1) {
											day_s--;
											$('#dateinp2').attr('value', day_s);
										} else {
											day_s = totalDay;
											$('#dateinp2').attr('value', day_s);
										};
										break;
									case 3:
										if(year_s > year) {
											year_s--;
											$('#dateinp3').attr('value', year_s);
											setTotalDay(year_s, month_s);
										};
										break;
									case 4:
										if(hour_s > 0) {
											hour_s--;
											$('#dateinp4').attr('value', hour_s);
										} else {
											hour_s = 23;
											$('#dateinp4').attr('value', hour_s);
										};
										break;
									case 5:
										if(!mmChanged) {
											return false;
										}
										if(mm_s > 0) {
											mm_s -= 15;
											$('#dateinp5').attr('value', mm_s);
										} else {
											mm_s = 45;
											$('#dateinp5').attr('value', mm_s);
										};
										break;
									default:
										break;
								}
								setHint();
								break;
							case 4:
								break;
							default:
								break;
						}
						break;
					case 88: //返回
					case 8:
						history.go(-1);
						return false;　　　　　　　　　　　　　　　
						break;　
						//            case 32:
						//                cancelDialog();
						//   break;
					case 45: //退出
						return false;
						break;
					default:
						break;
				}
			}

			function timedMsg() {
				$(".date").css("display", "none");
				$(".mianban6").css("display", "block");
				currentpage = 4;
			};
			/**
			 * 下单
			 */
			var orderId;

			function orderAdd() {
				 
				$.ajax({
					type: "POST", //提交数据的类型 POST
					url: window.sessionStorage.server_url + "/api/junctioncore/v1/cart/request_service/?" +
						"hotel_id=" + window.localStorage.hotelId +
						"&restaurant_id=" + window.localStorage.restaurantId +
						"&device_id=" + window.localStorage.deviceId +
						"&device_type=tv",
					data: {
						quantity: 1,
						lang_agnostic_id: data.langAgnosticId,
						expected_delivery_time: expected_delivery_time,
						note: ""
					},
					success: function(data) {
						orderId = data.data.order_id;
						doPayComplete();
					},
					error: function(data) {						
						$("#timeHint").css("display", "block");
					}
				});
			};
			/**
			 * 设置支付完成
			 * */
			function doPayComplete() {
				$.ajax({
					type: "POST", //提交数据的类型 POST GET
					url: window.sessionStorage.server_url + "/api/junctioncore/v1/room_order/" + orderId + "/mark_paid/?" +
						"hotel_id=" + window.localStorage.hotelId +
						"&restaurant_id=" + window.localStorage.restaurantId +
						"&device_id=" + window.localStorage.deviceId +
						"&device_type=tv" +
						"&pay_room_folio=" + totalPrice,
					dataType: "json", //数据类型
					success: function(data) {
						if("OK" == data.data.result) {
							timedMsg();
						}
					},
					error: function(data) {}
				});
			};

			function toPage() { //enter执行命令
				switch(currentpage) {
					case 1:
						if(current1 == 1) {
							$(".one").css("display", "none");
							$(".detail").css("display", "block");
							currentpage = 2;
						} else if(current1 == 2) {
							window.location.href = "Servicede2.html";
						}
						break;
					case 2:
						if(current2 == 1) {
							$(".date").css("display", "block");
							currentpage = 3;
						} else if(current2 == 2) {
							//下单
							expected_delivery_time = 0;
							orderAdd();
						}
						break;
					case 3:
						timeStr = year_s + "/" + month_s + "/" + day_s + " " + hour_s + ":" + mm_s + ":00";
						expected_delivery_time = (Date.parse(timeStr) * 1000).toString();
						
//						  $("#timeHint").html(timeStr);
//						  $("#timeHint").css("display","block")
						orderAdd();
						break;
					case 4:
						window.history.go(-1);
						break;
					default:
						break;
				}
			}
			/**
			 * 取消弹窗
			 */
			function cancelDialog() {
				switch(currentpage) {
					case 3:
						$(".date").css("display", "none");
						resetDate();
						currentpage = 2;
						return false;
					case 4:
						$(".mianban6").css("display", "none");
						currentpage = 2;
						return false;
					default:
						window.history.go(-1);
						break;
				}
			};

			function setHint() {
				if($("#timeHint")[0].style.display == "block") {
					$("#timeHint").css("display", "none");
				}
			}
			/**
			 * 数据
			 */
			var data = JSON.parse(window.sessionStorage.serverDetail);
			var price = data.defaultPriceInMill == null ? 0 : data.defaultPriceInMill;
			var totalPrice = price;
			//    var totalprice = 10;
			function removeHTMLTag(str) {
				try {
					str = str.replace(/<\/?[^>]*>/g, ''); //去除HTML tag
					return str;
				} catch(e) {}
			}
			var descri = data.translates[window.sessionStorage.language].description;
			$("#desc").append(descri);
			$("#desc1").append(descri);
			var vue = new Vue({
				el: '#app',
				data: {
					title: data.translates[window.sessionStorage.language].title,
					//            description: descri,
					img: data.defaultImage.internalImageId
				},
			});
			/**
			 * 获取当前月份的天数
			 **/
			function setTotalDay(year, month) {
				var d = new Date(year, month, 0);
				totalDay = d.getDate();
				if(totalDay < day_s) {
					day_s = totalDay;
					$('#dateinp2').attr('value', day_s);
				}
			}
			/*
			 * 本地语言
			 */
			if(window.sessionStorage.language == "zh-cn") {
				$("#ConfirmText").html("你可以要求现在交货到你的房间或选择在您方便的时间送货！");
				$("#now").html("立即服务");
				$("#later").html("选择时间");
				$("#ConfirmOrder").html("确认订单");
				$("#success").html("成功");
				$("#successText").html("您的订单已经发送成功，我们的工作人员会尽快给你回电！");
				$("#complete").html("完成");
				$("#choose-time").html("请选择时间");
				$("#text-month").html("月");
				$("#text-day").html("日");
				$("#text-year").html("年");
				$("#text-hour").html("时");
				$("#text-mm").html("分");
				$("#request").html("需求");
				$("#comp").html("完成");
				$("#timeHint").html("请选择合理的时间");
			} else {
				$("#ConfirmText").html("You may ask for immediete delivery of your order into your bed room right now or select delivery time at your convinience!");
				$("#now").html("Now");
				$("#later").html("Later");
				$("#ConfirmOrder").html("Confirm Order");
				$("#success").html("Success");
				$("#successText").html("Your order has been sent successfull,our staff will get back to you soon!");
				$("#complete").html("Complete");
				$("#choose-time").html("Please choose a convenient time");
				$("#text-month").html("Month");
				$("#text-day").html("Day");
				$("#text-year").html("Year");
				$("#text-hour").html("Hour");
				$("#text-mm").html("Minute");
				$("#request").html("Request");
				$("#comp").html("Complete");
				$("#timeHint").html("Invalid expected_delivery_time");
			}
		</script>
	</body>

</html>