<!--购物车-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/common.css" rel="stylesheet">
		<link href="../css/main.css" rel="stylesheet">
		<link href="../css/tab.css" type="text/css" rel="stylesheet" />
		<link href="../css/shopping_car.css" type="text/css" rel="stylesheet" />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/vue.min.js"></script>

		<script type="text/javascript" src="../js/qrcode.js"></script>
	</head>

	<body>
		<div class="shadow"></div>
		<!--遮罩的黑色背景-->
		<div class="content">
			<!--整体开始-->
			<div class="header">
				<img id="logo" alt="" class="lt" />h
				<img src="../img/startwelcome/shu.png" alt="" class="lt2" />
				<div class="welcome">
					<p><span id="customer"></span></p>
					<p> <span id="roomNumber"></span></p>
				</div>
				<div class="weathertime">
					<ul>
						<li>
							<span id="dateweek"></span>
						</li>
						<li>
							<img src="../img/icon-weather.png" />
							<span id="wendu"></span>
						</li>
						<li>
							<img src="../img/icon-time.png" />
							<span id="timemm"></span>
						</li>
					</ul>
				</div>
			</div>
			<div id="wrapper">
				<div class="box demo2">
					<div class="title">
						<p id="top-title"></p>
					</div>
					<div id="shoplist">
						<!--<hr size="0.1" style="position: relative;top: 210px;" />-->
						<div class="shop_list" id="app">
							<ul>
								<li v-for="(item,index) in jsondata">
									<img :src="item.defaultImage.internalImageId" />
									<div class="describe">
										<p v-text="item.translates[window.sessionStorage.language].title"></p>
										<p v-for="option in item.variants"><span v-text="item.translates[window.sessionStorage.language].optionTranslations.translations[option]"></span></p>
									</div>
									<div class="jia">
										<p>¥<span class="price" v-text="item.quantity*item.price_in_mill/1000"></span></p>
									</div>
									<div class="tab">
										<input class="min taba" name="" type="button" value="-" />
										<lable v-text="item.quantity"></lable>
										<input class="add taba" name="" type="button" value="+" id="add" />
									</div>
								</li>
							</ul>
						</div>

						<div class="bottom_fixed" id="fixed">
							<!--底部结算-->
							<div class="total">
								<p>Total:¥<label id="total"></label></p>
							</div>
							<div id="place_1">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="bottomVue" class="bottom_tiao">
				<img v-if="window.sessionStorage.language=='en'" src="../img/bottom-en.png" />
				<img v-else src="../img/bottom-ch.png" />
			</div>
			<div class="mianban3">
				<!--弹出层3-->
				<div class="mianban_3">
					<div class="success">
						<p id="success-pace"></p>
					</div>
					<div class="good_list" id="app2">
						<ul>
							<li v-for="item in jsondata">
								<img :src="item.defaultImage.internalImageId" />
								<div class="describe">
									<p v-text="item.translates[window.sessionStorage.language].title"></p>
									<p v-for="option in item.variants"><span v-text="item.translates[window.sessionStorage.language].optionTranslations.translations[option]"></span></p>
									<p>×<span v-text="item.quantity"></span></p>
								</div>
								<div class="jia">
									<p>¥<span v-text="item.quantity*item.price_in_mill/1000"></span></p>
								</div>
							</li>
						</ul>
					</div>
					<div class="bot_good">
						<p>Total:¥<label id="total2"></label></p>
						<div id="place_2"></div>
					</div>
				</div>
			</div>
			<!--弹出层3结束	-->

			<div class="mianban4">
				<!--弹出层4-->
				<div class="mianban_4">
					<div class="success">
						<p id="PaymentMethod"></p>
					</div>
					<div class="good_list">
						<ul id="ul">
							<li id="li_pay0" class="on">
								<img src="../img/other/foil.png" />
								<span id="ChargeRoom"></span>
							</li>
							<!--<li id="li_pay1" class="on">-->
							<!--<img src="../img/other/alipay.png"/>-->
							<!--<span id="Alipay"></span>-->
							<!--</li>-->
							<!--<li id="li_pay2">-->
							<!--<img src="../img/other/wechat.png"/>-->
							<!--<span id="Wechat"></span>-->
							<!--</li>-->
						</ul>
					</div>
					<div class="bot_good">
						<p>Total:<label id="total3"></label></p>
						<div id="paybtn" class="active-button"></div>
					</div>
				</div>
			</div>
			<!--弹出层4结束	-->
			<div class="payqr">
				<!--弹出层二维码-->
				<div class="mianban_5">
					<div class="success">
						<p><span><img id="payIcon" src=""/></span><span id="PayByAlipay"></span></p>
					</div>
					<div class="text">
						<p id="text-qr"></p>
					</div>
					<div class="qr" width="42%" id="qrcode">
						<!--<img src="" width="42%" id="qr"/>-->
					</div>
				</div>
			</div>
			<!--弹出层二维码结束-->
			<div class="mianban5">
				<!--弹出层5-->
				<div class="mianban_5">
					<div class="success">
						<p id="ConfirmOrder"></p>
					</div>
					<div class="text">
						<p id="ConfirmText"></p>
					</div>
					<div class="two">
						<p class="sel" id="now"></p>
						<p id="sel"></p>
					</div>
				</div>
			</div>
			<!--弹出层5结束	-->

			<div class="mianban6">
				<!--弹出层6-->
				<div class="mianban_6">
					<div class="success">
						<p id="successOrder"></p>
					</div>
					<div class="text">
						<p id="successText"></p>
					</div>
					<div class="car">
						<img src="../img/other/success.png" />
					</div>
					<div class="complete" id="complete">
						<!--Complete-->
					</div>
				</div>
			</div>
			<!--弹出层6结束	-->
			<div class="date">
				<!--选择时间开始-->
				<div class="sub_date">
					
					<br/>
					<p id="choose-time"></p><span id="timeHint"></span>
					<ul>
						<li id="mon" >
							<p id="text-month"></p>
							<input id="jian1" class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp1" class="activesel"></input>
							<input id="jia1" class="" name="" type="button" value="▼" />
						</li>
						<li id="day">
							<p id="text-day"></p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp2" class="activesel"></input>
							<input class="" name="" type="button" value="▼" />
						</li>
						<li id="year">
							<p id="text-year"> </p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp3" class="activesel"></input>
							<input class="" name="" type="button" value="▼" />
						</li>
						<li id="hour" class="sele-time">
							<p id="text-hour"></p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp4" class="activesel"></input>
							<input class="" name="" type="button" value="▼" />
						</li>
						<li id="mm">
							<p id="text-mm"></p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp5" class="activesel"></input>
							<input class="" name="" type="button" value="▼" />
						</li>
					</ul>
					<div id="comp" class="completesel"></div>
				</div>
			</div>
			<!--选择时间结束-->
			<div class="empty">
				<!--弹出层二维码-->
				<div class="empty_1">
					<img src="../img/shoppingcart.png" />
					<p id="text-empty"></p>
				</div>
			</div>
			<!--弹出层二维码结束-->
		</div>
		<!--整体结束-->
		<script src="../js/bottom.js"></script>
		<script src="../js/top.js"></script>
		<script type="text/javascript">
			var qrcode = new QRCode(document.getElementById("qrcode"), {});
			var expected_delivery_time = 0;
			var timeStr;
			var isEmpty = false;
			//	 clearCart();
			//头部的日期和时间
			$("#dateweek").html(dateweek); //日期
			//$("#timemm").html(time);
			$("#roomNumber").html(window.sessionStorage.language == "zh-cn" ? "房间号 " + window.localStorage.roomId : "Room " + window.localStorage.roomId);
//			$("#customer").html(window.sessionStorage.language == "zh-cn" ? "欢迎 " + window.sessionStorage.customer : "Welcome " + window.sessionStorage.customer);
			if(window.sessionStorage.language == "zh-cn") {
				if(window.sessionStorage.customerTitle == 'Mr') {
					$("#customer").html("欢迎 " + window.sessionStorage.customer + '先生');
				} else if(window.sessionStorage.customerTitle == 'Ms') {
					$("#customer").html("欢迎 " + window.sessionStorage.customer + '女士');
				}

			} else {
				if(window.sessionStorage.customerTitle == 'Mr') {
					$("#customer").html("Welcome " + 'Mr ' + window.sessionStorage.customer);
				} else if(window.sessionStorage.customerTitle == 'Ms') {
					$("#customer").html("Welcome " + 'Ms ' + window.sessionStorage.customer);
				}
			}
			
			try {
				$("#logo").attr("src", JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url);
			} catch(e) {}
			//时间选择
			var date = new Date(parseInt(window.sessionStorage.localTime));
			var year = date.getFullYear();
			var month = date.getMonth() + 1;
			var day = date.getDate();
			var hh = date.getHours();
			var mm = date.getMinutes();
			$('#dateinp1').attr('placeholder', month);
			$('#dateinp2').attr('placeholder', day);
			$('#dateinp3').attr('placeholder', year);
			$('#dateinp4').attr('placeholder', hh);
			$('#dateinp5').attr('placeholder', mm);

			var month_s = document.getElementById("dateinp1").placeholder;
			var day_s = document.getElementById("dateinp2").placeholder;
			var year_s = document.getElementById("dateinp3").placeholder;
			var hour_s = document.getElementById("dateinp4").placeholder;
			var mm_s = document.getElementById("dateinp5").placeholder;

			var mmChanged = false;
			var changeNumber;
			changeNumber = 60 - parseInt(mm_s);
			changeNumber = changeNumber % 15;
			if(changeNumber == 0) {
				changeNumber = 15;
			}
			/*
			 * 获取购物车信息
			 */
			var baseData;
			var jsondata = new Array();
			$.ajax({
				type: "GET", //提交数据的类型 POST GET
				url: window.sessionStorage.server_url + "/api/junctioncore/v1/cart/", //提交的地址
				beforeSend: function(data) {
					console.log();
					data.setRequestHeader("CONTENT-TYPE", "application/x-www-form-urlencoded");
				},
				dataType: "json", //数据类型
				data: {
					hotel_id: window.localStorage.hotelId,
					restaurant_id: window.localStorage.restaurantId,
					device_id: window.localStorage.deviceId,
					device_type: "tv"
				}, //提交的参数
				success: function(data) {
					console.log(data);
					baseData = data.data;
					if(baseData.cart.length == 0) {
						isEmpty = true;
						$(".empty").css("display", "block");
						$('#place_1').removeClass('place');
					} else {
						for(var i = 0; i < baseData.merchandises.length; i++) {
							try {
								baseData.merchandises[i].defaultImage.internalImageId = JSON.parse(window.sessionStorage.imgs)[baseData.merchandises[i].defaultImage.internalImageId].internal_image_url;
							} catch(e) {}
						}
						for(var i = 0; i < baseData.cart.length; i++) {
							for(var j = 0; j < baseData.merchandises.length; j++) {
								if(baseData.cart[i].merchandise_id == baseData.merchandises[j].id) {
									try {
										baseData.cart[i]["defaultImage"] = baseData.merchandises[j]["defaultImage"];
										baseData.cart[i]["translates"] = baseData.merchandises[j]["translates"];
									} catch(e) {}
									break;
								}
							}
						}
						for(var i = 0; i < baseData.cart.length; i++) {
							//                    if(baseData.cart[i].variants.length>0){
							//                        baseData.cart[i].variants = JSON.parse(baseData.cart[i].variants);
							//                    }
							jsondata.push(baseData.cart[i]);
							currentCol = jsondata.length * 2;
						}
						//console.log(jsondata);
					}
					setTotal();;
				}, //成功返回之后调用的函数
			});

			function GetQueryString(url, name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
				var r = url.substr(1).match(reg);
				if(r != null) return unescape(r[2]);
				return null;
			};
			var fromPage = GetQueryString(window.location.search, "fromPage")
			var vue = new Vue({
				el: '#app',
				data: {
					jsondata: jsondata,
				},
				methods: {
					addCnt: function(index) {
						this.jsondata[index].quantity++;
						setTotal();
					},
					subtractCnt: function(index) {
						this.jsondata[index].quantity
						if(this.jsondata[index].quantity > 0)
							this.jsondata[index].quantity--;
						setTotal();
					}
				},
			});
			$('#place_1').addClass('place');
			$('#place_2').addClass('place');
			var vue = new Vue({
				el: '#app2',
				data: {
					jsondata: jsondata
				},
			});
			/*
			 * 遥控器
			 */
			//定义初始化行列
			var currentpage = 1;
			var currentCol = jsondata.length * 2;
			var nowlater = 1;
			var currentDateType = 4;
			var paytype = 0;
			document.onkeydown = function(e) {
				e = window.event || e;

				if(isEmpty)
					console.log(isEmpty)
				if(e.keyCode == 8 || e.keyCode == 88) {
					history.go(-1)
					return false;
				}

				switch(e.keyCode) {
					case 13: //enter
					case 29443:
						toPage();
						break;
					case 4:
					case(37 || "KEY_LEFT"): //向左
						switch(currentpage) {
							case 1:
								currentCol--;
								change();
								break;
							case 2:
								break;
							case 3:

								break;
							case 4:

								break;
							case 5:
								switch(currentDateType) {
									case 1:
										$("#mon").removeClass("sele-time");
										$("#mm").addClass("sele-time");
										currentDateType = 5;
										break;
									case 2:
										$("#day").removeClass("sele-time");
										$("#mon").addClass("sele-time");
										currentDateType = 1;
										break;
									case 3:
										$("#year").removeClass("sele-time");
										$("#day").addClass("sele-time");
										currentDateType = 2;
										break;
									case 4:
										$("#hour").removeClass("sele-time");
										$("#year").addClass("sele-time");
										currentDateType = 3;
										break;
									case 5:
										$("#mm").removeClass("sele-time");
										$("#hour").addClass("sele-time");
										currentDateType = 4;
										break;
									default:
										break;
								}
								break;
							default:
								break;
						}
						break;
					case 5:
					case(39 || "KEY_RIGHT"): //向右
						switch(currentpage) {
							case 1:
								currentCol++;
								change();
								break;
							case 2:

								break;
							case 3:

								break;
							case 4:

								break;
							case 5:
								switch(currentDateType) {
									case 1:
										$("#mon").removeClass("sele-time");
										$("#day").addClass("sele-time");
										currentDateType = 2;
										break;
									case 2:
										$("#day").removeClass("sele-time");
										$("#year").addClass("sele-time");
										currentDateType = 3;
										break;
									case 3:
										$("#year").removeClass("sele-time");
										$("#hour").addClass("sele-time");
										currentDateType = 4;
										break;
									case 4:
										$("#hour").removeClass("sele-time");
										$("#mm").addClass("sele-time");
										currentDateType = 5;
										break;
									case 5:
										$("#mm").removeClass("sele-time");
										$("#mon").addClass("sele-time");
										currentDateType = 1;
										break;
									case 6:
										break;
									default:
										break;
								}
								break;
							default:
								break;
						}
						break;
					case 29460:
					case(38 || "KEY_UP"): //向上
						switch(currentpage) {
							case 1:
								if(currentCol == jsondata.length * 2) {
									currentCol = jsondata.length * 2 - 1
								} else if(currentCol > 3) {
									currentCol -= 4;
								} else {
									currentCol = jsondata.length * 2;
								}
								change();
								break;
							case 2:
								$("#").scrollTop($("#").scrollTop() - 50);
								return false;
								break;
							case 3:
								switch(nowlater) {
									case 1:
										break;
									case 2:
										$("#sel").removeClass("sel");
										$("#now").addClass("sel");
										nowlater = 1;
										break;
									default:
										break;
								}
								return false;
								break;
							case 4:
								//                        switch (paytype) {
								//                            case 0:
								//                                paytype = 2;
								//                                $('#li_pay0').removeClass("on");
								//                                $('#li_pay2').addClass("on");
								//                                break;
								//                            case 1:
								//                                paytype = 0;
								//                                $('#li_pay1').removeClass("on");
								//                                $('#li_pay0').addClass("on");
								//                                break;
								//                            case 2:
								//                                paytype = 1;
								//                                $('#li_pay2').removeClass("on");
								//                                $('#li_pay1').addClass("on");
								//                                break;
								//                            default:
								//                                break;
								//                        }
								return false;
								break;
							case 7:
							case 5: //加
								switch(currentDateType) {
									case 1: //month
										if(month_s < 12) {
											month_s++;
											$('#dateinp1').attr('value', month_s);
										} else {
											month_s = 1;
											$('#dateinp1').attr('value', month_s);
										}
										setTotalDay(year_s, month_s);;
										break;
									case 2:
										if(day_s < totalDay) {
											day_s++;
											$('#dateinp2').attr('value', day_s);
										} else {
											day_s = 1;
											$('#dateinp2').attr('value', day_s);
										};
										break;
									case 3:
										year_s++;
										$('#dateinp3').attr('value', year_s);
										setTotalDay(year_s, month_s);
										break;
									case 4:
										if(hour_s < 23) {
											hour_s++;
											$('#dateinp4').attr('value', hour_s);
										} else {
											hour_s = 0;
											$('#dateinp4').attr('value', hour_s);
										};
										break;
									case 5:
										if(!mmChanged) {
											if(mm_s < 45) {
												mm_s = parseInt(mm_s) + changeNumber;
												$('#dateinp5').attr('value', mm_s);
											} else {
												mm_s = 0;
												$('#dateinp5').attr('value', mm_s);
												hour_s++;
												$('#dateinp4').attr('value', hour_s);
											}
											mmChanged = true;
										} else {
											if(mm_s < 45) {
												mm_s = parseInt(mm_s) + 15;
												$('#dateinp5').attr('value', mm_s);
											} else {
												mm_s = 0;
												$('#dateinp5').attr('value', mm_s);
												hour_s++;
												$('#dateinp4').attr('value', hour_s);
											}
										};
										break;
									default:
										break;
								}
								setHint();
								break;
							default:
								break;
						}
						break;
					case 29461:
					case(40 || "KEY_DOWN"): //向下

						switch(currentpage) {
							case 1:
								if(currentCol < jsondata.length * 2 - 4) {
									currentCol += 4;
								} else if(currentCol < jsondata.length * 2) {
									currentCol = jsondata.length * 2;
								} else {
									currentCol = 0;
								}
								change();
								break;
							case 2:
								$("#app2").scrollTop($("#app2").scrollTop() + 50);
								return false;
								break;
							case 3:
								switch(nowlater) {
									case 1:
										$("#now").removeClass("sel");
										$("#sel").addClass("sel");
										nowlater = 2;
										break;
									case 2:
										break;
									default:
										break;
								}
								return false;
							case 4:
								//                        $('#paybtn').removeClass("active-button");

								//                        switch (paytype) {
								//                            case 0:
								//                                paytype = 1;
								//                                $('#li_pay0').removeClass("on");
								//                                $('#li_pay1').addClass("on");
								//                                break;
								//                            case 1:
								//                                paytype = 2;
								//                                $('#li_pay1').removeClass("on");
								//                                $('#li_pay2').addClass("on");
								//                                break;
								//                            case 2:
								//                                paytype = 0;
								//                                $('#li_pay2').removeClass("on");
								//                                $('#li_pay0').addClass("on");
								//                                break;
								//                            default:
								//                                break;
								//                        }

								//                        if (paytype_selected == paytype) {
								//                            $('#paybtn').addClass("active-button");
								//                        }
								return false;
								break;
							case 11:
							case 5: //减
								switch(currentDateType) {
									case 1:
										if(month_s > 1) {
											month_s--;
											$('#dateinp1').attr('value', month_s);
										} else {
											month_s = 12;
											$('#dateinp1').attr('value', month_s);
										}
										setTotalDay(year_s, month_s);;
										break;
									case 2:
										if(day_s > 1) {
											day_s--;
											$('#dateinp2').attr('value', day_s);
										} else {
											day_s = totalDay;
											$('#dateinp2').attr('value', day_s);
										};
										break;
									case 3:
										if(year_s > year) {
											year_s--;
											$('#dateinp3').attr('value', year_s);
											setTotalDay(year_s, month_s);
										};
										break;
									case 4:
										if(hour_s > 0) {
											hour_s--;
											$('#dateinp4').attr('value', hour_s);
										} else {
											hour_s = 23;
											$('#dateinp4').attr('value', hour_s);
										};
										break;
									case 5:
										if(!mmChanged) {
											return false;
										}
										if(mm_s > 0) {
											mm_s -= 15;
											$('#dateinp5').attr('value', mm_s);
										} else {
											mm_s = 45;
											$('#dateinp5').attr('value', mm_s);
										};
										break;
									default:
										break;
								}
								setHint();
								break;
								return false;
							default:
								break;
						}
						break;
						//            case 32:
						//                cancelDialog();
						//                break;
					case 88: //返回
					case 8:

						history.go(-1)

						return false;
						break;　
					case 45: //退出
						return false;
						break;
					default:
						break;
				}
			};
			var totalprice;
			//第一页的方向键调用
			var lis = document.getElementsByClassName("taba");

			function change() {
				for(i = 0; i < lis.length; i++) {
					if(lis[i].className.indexOf(" active_tab") == -1 ? false : true) {
						lis[i].className = lis[i].className.replace(" active_tab", "");
					}
					$('#place_1').removeClass('place');
				}
				if(currentCol < 0) {
					currentCol = lis.length;
				}
				if(currentCol == lis.length + 1) {
					currentCol = 0;
				}
				if(currentCol < lis.length) {
					lis[currentCol].className += " active_tab";
				} else {
					$('#place_1').addClass('place');
				}
			};
			var totalDay;
			setTotalDay(year, month);
			/**
			 * 获取当前月份的天数
			 **/
			function setTotalDay(year, month) {
				var d = new Date(year, month, 0);
				totalDay = d.getDate();
				if(totalDay < day_s) {
					day_s = totalDay;
					$('#dateinp2').attr('value', day_s);
				}
			}

			function toPage() { //enter执行命令
				switch(currentpage) {
					case 1:
						if(currentCol < jsondata.length * 2) {
							switch(currentCol % 2) {
								case 0:
									subtractCnt();
									break;
								case 1:
									addCnt();
									break;
								default:
									break;
							}
						} else {
							if(jsondata.length > 0) {
								$(".mianban3").css("display", "block");
								currentpage = 2;
							}
						}
						break;
					case 2:
						$(".mianban3").css("display", "none");
						$(".mianban5").css("display", "block");
						currentpage = 3;
						break;
					case 3:
						if(nowlater == 1) {
							expected_delivery_time = 0;
							totalprice = parseInt($("#total")[0].innerHTML) * (1 + parseInt(window.sessionStorage.surchargePermillage) / 1000);
							totalprice = totalprice.toFixed(2);
							//                    orderAdd(totalprice);
							orderAdd();
						} else if(nowlater == 2) {
							currentpage = 5;
							$(".mianban5").css("display", "none");
							$(".date").css("display", "block");
						}
						break;
					case 4:
						doPay();
						break;
					case 5:
						timeStr = year_s + "/" + month_s + "/" + day_s + " " + hour_s + ":" + mm_s + ":00";
						expected_delivery_time = Date.parse(timeStr) * 1000;
						totalprice = parseInt($("#total")[0].innerHTML) * (1 + parseInt(window.sessionStorage.surchargePermillage) / 1000);
						totalprice = totalprice.toFixed(2);
						//                orderAdd(totalprice);
						orderAdd();
						break;
					case 6:
						break;
					case 7:
						$(".mianban6").css("display", "none");
						if(fromPage) {
							window.history.go(-3);
						} else {
							window.history.go(-1);
						}
						break;
					default:
						break;
				}
			}
			var li = $('#ul li');
			li.mouseover(function(e) {
				e.stopPropagation();
				li.removeClass('on');
				$(this).addClass("on");
			});
			var p = $('.two p');
			p.mouseover(function(e) {
				e.stopPropagation();
				p.removeClass('sel');
				$(this).addClass("sel");
			});

			function setTotal() {
				var s = 0;
				for(var i = 0; i < jsondata.length; i++) {
					s += (jsondata[i].price_in_mill / 1000) * jsondata[i].quantity;
					//            s += jsondata[i].total_price_in_mill / 1000;
				}
				$("#total").html(s.toFixed(2));
				$("#total2").html(s.toFixed(2));
				$("#total3").html(s.toFixed(2));
			};
			/*
			 * 创建订单
			 */
			var orderId;

			function orderAdd() {
				$.ajax({
					type: "POST", //提交数据的类型 POST
					url: window.sessionStorage.server_url + "/api/junctioncore/v1/cart/place_order/?" +
						"hotel_id=" + window.localStorage.hotelId +
						"&restaurant_id=" + window.localStorage.restaurantId +
						"&device_id=" + window.localStorage.deviceId +
						"&device_type=tv",
					dataType: "json", //数据类型
					data: {
						expected_delivery_time: expected_delivery_time
					}, //提交的参数
					success: function(data) {
						console.log(data);
						orderId = data.data.order_id;
						currentpage = 4;
						$(".date").css("display", "none");
						$(".mianban5").css("display", "none");
						$(".mianban4").css("display", "block");
					},
					error: function(data) {
						console.log(data);
						$("#timeHint").css("display", "block");
					}
				});
			};
			/*
			 * 订单支付
			 */
			//	 var payMethod;
			function doPay() {
				var pay_method = "";
				var icon = "";
				var payTypeStr = "";
				//WECHAT,ALI,BAIDU
				switch(paytype) {
					case 0:
						pay_method = "BAIDU";
						payTypeStr = "Charge to room folio";
						icon = "../img/other/icon_fangzhangPay.png";
						break;
					case 1:
						pay_method = "ALI";
						payTypeStr = "Pay by Alipay";
						icon = "../img/other/icon_aliPay.png";
						break
					case 2:
						pay_method = "WECHAT";
						payTypeStr = "Pay by Wechat";
						icon = "../img/other/icon_wxPay.png";
						break
					default:
						break;
				};
				if(paytype == 0) {
					//抛账房
					doPayComplete();
				} else {
					//在线支付
					$.ajax({
						type: "POST", //提交数据的类型 POST GET
						url: window.sessionStorage.server_url + "/api/junctioncore/v1/room_order/" + orderId + "/pay/?" +
							"hotel_id=" + window.localStorage.hotelId +
							"&restaurant_id=" + window.localStorage.restaurantId +
							"&device_id=" + window.localStorage.deviceId +
							"&device_type=tv" +
							"&pay_method=" + pay_method,
						dataType: "json", //数据类型
						success: function(data) {
							//console.log(data);
							currentpage = 6;
							$("#payIcon").attr("src", icon);
							$("#PayByAlipay").html(payTypeStr);
							//				$("#qr").attr("src",data.data.qr_code_url);
							qrcode.makeCode(data.data.qr_code);
							$(".payqr").css("display", "block");
							$(".mianban4").css("display", "none");
							setTimeout("getPayInfo()", 5000);
						}
					});
				}
			};
			/**
			 * 获取支付结果
			 */
			function getPayInfo() {
				$.ajax({
					type: "GET", //提交数据的类型 POST GET
					url: window.sessionStorage.server_url + "/api/junctioncore/v1/room_order/" + orderId + "/is_paid/?" +
						"hotel_id=" + window.localStorage.hotelId +
						"&restaurant_id=" + window.localStorage.restaurantId +
						"&device_id=" + window.localStorage.deviceId +
						"&device_type=tv",
					beforeSend: function(data) {
						data.setRequestHeader("CONTENT-TYPE", "application/x-www-form-urlencoded");
					},
					dataType: "json", //数据类型
					success: function(data) {
						//console.log("获取支付结果:");
						//console.log(data);
						if(data.data.is_paid) {
							doPayComplete();
						} else {
							setTimeout("getPayInfo()", 5000);
						}
					}
				});
			};

			/**
			 * 清空购物车
			 * */
			//    function clearCart() {
			//        $.ajax({
			//            type: "POST",//提交数据的类型 POST
			//            url: BASE_URL+"/api/junctioncore/v1/cart/clear/?" +
			//            "hotel_id="+window.localStorage.hotelId+
			//            "&restaurant_id="+window.localStorage.restaurantId+
			//            "&device_id="+window.localStorage.deviceId+
			//            "&device_type=tv",
			//            dataType: "json",//数据类型
			//            success: function (data) {
			//                $(".mianban4").css("display", "none");
			//                $(".payqr").css("display", "none");
			//                $(".mianban6").css("display", "block");
			//                currentpage = 7;
			//            },//成功返回之后调用的函数
			//        });
			//    }
			//    ;
			/**
			 * 设置支付完成
			 * */
			function doPayComplete() {
				$.ajax({
					type: "POST", //提交数据的类型 POST GET
					url: window.sessionStorage.server_url + "/api/junctioncore/v1/room_order/" + orderId + "/mark_paid/?" +
						"hotel_id=" + window.localStorage.hotelId +
						"&restaurant_id=" + window.localStorage.restaurantId +
						"&device_id=" + window.localStorage.deviceId +
						"&device_type=tv" +
						(paytype == 0 ? "&pay_room_folio=" + totalprice * 1000 : ""),
					dataType: "json", //数据类型
					success: function(data) {
						//console.log("设置支付完成");
						//console.log(data);
						if("OK" == data.data.result) {
							$(".mianban4").css("display", "none");
							$(".payqr").css("display", "none");
							$(".mianban6").css("display", "block");
							currentpage = 7;
						}
					},
					error: function(data) {
						//console.log(data);
					}
				});
			};

			function editCart(cid, cquantity) {
				if(cquantity == 0) {
					//删除购物车商品
					$.ajax({
						type: "DELETE", //提交数据的类型 DELETE
						url: window.sessionStorage.server_url + "/api/junctioncore/v1/cart/" + cid + "/?" +
							"hotel_id=" + window.localStorage.hotelId +
							"&restaurant_id=" + window.localStorage.restaurantId +
							"&device_id=" + window.localStorage.deviceId +
							"&device_type=tv",
						dataType: "json", //数据类型
						success: function(data) {
							jsondata.splice(parseInt(currentCol / 2), 1);
							if(jsondata.length == 0) {
								isEmpty = true;
								$(".empty").css("display", "block");
								$('#place_1').removeClass('place');
							}
							setTotal();
						}, //成功返回之后调用的函数
					});
				} else {
					//更新购物车商品数量
					$.ajax({
						type: "PUT", //提交数据的类型 POST
						url: window.sessionStorage.server_url + "/api/junctioncore/v1/cart/" + cid + "/?" +
							"hotel_id=" + window.localStorage.hotelId +
							"&restaurant_id=" + window.localStorage.restaurantId +
							"&device_id=" + window.localStorage.deviceId +
							"&device_type=tv",
						dataType: "json", //数据类型
						data: {
							quantity: cquantity, //数量
							note: ""
						}, //提交的参数
						success: function(data) {
							jsondata[parseInt(currentCol / 2)].quantity = cquantity;
							setTotal();
						}, //成功返回之后调用的函数
					});
				}
			};

			/**
			 * 取消弹窗
			 */
			function cancelDialog() {
				switch(currentpage) {
					case 1:
						if(fromPage) {
							window.history.go(-3);
						} else {
							window.history.go(-1);
						}
						break;
					case 2:
						$(".mianban3").css("display", "none");
						currentpage = 1;
						break;
					case 3:
						$(".mianban3").css("display", "none");
						$(".mianban4").css("display", "none");
						$(".mianban5").css("display", "none");
						$(".mianban6").css("display", "none");
						$(".payqr").css("display", "none");
						$(".date").css("display", "none");
						currentpage = 1;
						break;
					case 4:
						location.reload();
						break;
					case 5:
						$(".mianban3").css("display", "none");
						$(".mianban4").css("display", "none");
						$(".mianban5").css("display", "none");
						$(".mianban6").css("display", "none");
						$(".payqr").css("display", "none");
						$(".date").css("display", "none");
						resetDate();
						currentpage = 1;
						break;
					case 6:
						location.reload();
						break;
					case 7:
						location.reload();
						break;
					default:
						break;
				}
			};

			function resetDate() {
				//时间选择
				date = new Date();
				year = date.getFullYear();
				month = date.getMonth() + 1;
				day = date.getDate();
				hh = date.getHours();
				//        mm = date.getMinutes();
				mm = 0;

				$('#dateinp1').attr('placeholder', month);
				$('#dateinp1').attr('value', "");
				$('#dateinp2').attr('placeholder', day);
				$('#dateinp2').attr('value', "");
				$('#dateinp3').attr('placeholder', year);
				$('#dateinp3').attr('value', "");
				$('#dateinp4').attr('placeholder', hh);
				$('#dateinp4').attr('value', "");
				$('#dateinp5').attr('placeholder', mm);
				$('#dateinp5').attr('value', "");

				month_s = document.getElementById("dateinp1").placeholder;
				day_s = document.getElementById("dateinp2").placeholder;
				year_s = document.getElementById("dateinp3").placeholder;
				hour_s = document.getElementById("dateinp4").placeholder;
				mm_s = document.getElementById("dateinp5").placeholder;
				currentDateType = 4;
				$("#dateinp4").focus();
			}

			function subtractCnt() {
				if(jsondata[parseInt(currentCol / 2)].quantity > 0) {
					var count = parseInt(jsondata[parseInt(currentCol / 2)].quantity) - 1;
					editCart(jsondata[parseInt(currentCol / 2)].cart_id, count);
				}
			};

			function addCnt() {
				var count = parseInt(jsondata[parseInt(currentCol / 2)].quantity) + 1;
				editCart(jsondata[parseInt(currentCol / 2)].cart_id, count);
			};

			function setHint() {
				if($("#timeHint")[0].style.display == "block") {
					$("#timeHint").css("display", "none");
				}
			}
			/*
			 * 本地语言
			 */
			if(window.sessionStorage.language == "zh-cn") {
				$("#top-title").html("首页 > 购物车");
				$("#place_1").html("订购");
				$("#success-pace").html("订购");
				$("#place_2").html("订购");
				$("#PaymentMethod").html("付款方式");
				$("#ChargeRoom").html("现金或信用卡");
				$("#Alipay").html("支付宝支付");
				$("#Wechat").html("微信支付");
				$("#paybtn").html("支付");
				$("#text-qr").html("请扫描二维码付款");
				$("#ConfirmText").html("你可以要求现在交货到你的房间或选择在您方便的时间送货！");
				$("#now").html("立即送货");
				$("#sel").html("选择时间");
				$("#ConfirmOrder").html("确认订单");
				$("#successOrder").html("成功");
				$("#successText").html("您的订单已经发送成功，我们的工作人员会尽快给你回电！");
				$("#complete").html("完成");
				$("#comp").html("完成");
				$("#choose-time").html("请选择时间");
				$("#text-month").html("月");
				$("#text-day").html("日");
				$("#text-year").html("年");
				$("#text-hour").html("时");
				$("#text-mm").html("分");
				$("#text-empty").html("您的购物车空空如也~");
				$("#timeHint").html("请选择合理的时间");
			} else {
				$("#top-title").html("Home > Shopping Cart");
				$("#place_1").html("Place Order");
				$("#success-pace").html("Place Order");
				$("#place_2").html("Place Order");
				$("#PaymentMethod").html("Payment Method");
				$("#ChargeRoom").html("Cash or Credit Card");
				$("#Alipay").html("Pay by Alipay");
				$("#Wechat").html("Pay by Wechat");
				$("#paybtn").html("Pay");
				$("#text-qr").html("Please scan the QR code for payment");
				$("#ConfirmText").html("You may ask for immediete delivery of your order into your bed room right now or select delivery time at your convinience!");
				$("#now").html("Now");
				$("#sel").html("Select Time");
				$("#ConfirmOrder").html("Confirm Order");
				$("#successOrder").html("Success");
				$("#successText").html("Your order has been sent successfull,our staff will get back to you soon!");
				$("#complete").html("Complete");
				$("#comp").html("Complete");
				$("#choose-time").html("Please choose a convenient time");
				$("#text-month").html("Month");
				$("#text-day").html("Day");
				$("#text-year").html("Year");
				$("#text-hour").html("Hour");
				$("#text-mm").html("Minute");
				$("#text-empty").html("Your shopping cart is empty~");
				$("#timeHint").html("Invalid expected_delivery_time");
			}
		</script>
	</body>

</html>