<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
    <style>
        html,body,.main{
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: rgb(57,61,61);
        }
        .navi{
            color: #fff;
            float: left;
            font-size: 25px;
            margin-top: 80px;
            margin-left: 80px;
        }
        .Timer{
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 44%;
        }
        .Timer div{
            margin: 0 10px;
            color: #fff;
            font-size: 35px;
        }
        .date{
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 12px 21px;
        }
        .hour{
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 12px 28px;
        }
        .minus{
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 12px 28px;
        }
        .sure{
            font-size: 25px;
            color: #fff  !important;
            border: 1px solid #fff;
            height: 80%;
            padding: 10px 20px;
            border-radius: 10px;
            align-self: center;
            background-color:rgb(230,171,1);
        }
        .divider{
            color: #fff;
            font-size: 25px;
            border: none;
        }
        .submit{
            width: 300px;
            height: 400px;
            position: absolute;
            top: 32%;
            left: 40%;
        }
        .title{

            width: 100%;
            height: 50px;
            background-color: rgb(230,171,1);
            padding: 16px auto;
            color: #fff;
            font-size: 25px;
            text-align: center;
        }
        .content1{

            border-top: 1px solid #ccc;
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fff;
        }
        .content1 span{
            margin: 10px auto;
        }
        .bottom{

            width: 100%;
            height: 50px;
            display: flex;
            border-top: 1px solid #ccc;
            color: #fff ;
            background-color: #fff;
        }
        .bottom div{
            flex: 1;
            color: #221C1C;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cancel{

        }
        .ok{

        }
        .active{
            background-color: rgb(230,171,1);
            color: #fff !important;
        }
        .date1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .date1 img{
            width: 35px;
            height: 35px;
            visibility: hidden;
        }
        .hour1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .hour1 img{
            width: 35px;
            height: 35px;
            visibility: hidden;
        }
        .minus1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .minus1 img{
            width: 35px;
            height: 35px;
            visibility: hidden;
        }
        .divider{
            align-self: center;
            font-size: 20px;
        }
        .divider{
            align-self: center;
            font-size: 50px;
        }
        .imgActive{
            visibility:visible !important;
        }
    </style>
</head>
<body>
<div class="main" id="main">
    <div class="navi">首页>叫醒服务</div>
    <div class="Timer" >
        <div class="date1" >
            <img src="../img/array_up.png" @click="aaa">
            <div class="date">{{date}}{{day}}|{{testStr}}</div>
            <img src="../img/array_down.png"  >
        </div>
        <!--<div class="hour1" >-->
            <!--<img src="../img/array_up.png" >-->
            <!--<div class="hour">{{hour}}</div>-->
            <!--<img src="../img/array_down.png">-->
        <!--</div>-->
        <!--<span class="divider">:</span>-->
        <!--<div class="minus1" >-->
            <!--<img src="../img/array_up.png" >-->
            <!--<div class="minus">{{minutes}}</div>-->
            <!--<img src="../img/array_down.png" >-->
        <!--</div>-->
        <div class="sure" style="" >确定</div>
    </div>
    <!--<div class="submit">-->
        <!--<div class="title">提示</div>-->
        <!--<div class="content1">-->
            <!--<span>请确认叫醒服务时间</span>-->
            <!--<span>{{date}}{{day}} </span>-->
        <!--</div>-->
        <!--<div class="bottom">-->
            <!--<div class="cancel">修改</div>-->
            <!--<div class="ok" >确认</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
<script>
    var vm=new Vue({
        el:'#main',
        data:{
            date:'123',
            day:0,
            hour:1,
            minutes:2,
            isShow:'none',
            curSel:0,
            reminderTime:'',
            imgIndex:0,
            testStr:''
        },

        methods:{
            aaa:function () {
                
            }
            // getDate:function(){
            //     var date = new Date();
            //     var year = date.getFullYear();
            //     var month = date.getMonth() + 1;
            //     var strDate = date.getDate();
            //     if (month >= 1 && month <= 9) {
            //         month = "0" + month;
            //     }
            //     if (strDate >= 0 && strDate <= 9) {
            //         strDate = "0" + strDate;
            //     }
            //     var currentdate = year + '-' + month + '-';
            //     this.date=currentdate;
            // }
        }
    })
    document.onkeydown=function (e) {
        vm.testStr=e.keyCode;
        switch (e.keyCode) {
            case 10009:
                window.history.go(-1);
                break;
        }
    }
</script>
</body>
</html>