<!--左右菜单联动 通用页面-->
<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/common.css" rel="stylesheet">
		<link href="../css/main.css" rel="stylesheet">
		<link href="../css/tab.css" type="text/css" rel="stylesheet" />
		<link href="../css/shopping_car.css" type="text/css" rel="stylesheet" />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript" src="../js/qrcode.js"></script>

	</head>

	<body>
		<div>
			<div class="shadow"></div>
			<div class="content">
				<div class="header">
					<img id="logo" alt="" class="lt" />
					<img src="../img/startwelcome/shu.png" alt="" class="lt2" />
					<div class="welcome">
						<p><span id="customer"></span></p>
						<p> <span id="roomNumber"></span></p>
					</div>
					<div class="weathertime">
						<ul>
							<li>
								<span id="dateweek"></span>
							</li>
							<li>
								<img src="../img/icon-weather.png" />
								<span id="wendu"></span>
							</li>
							<li>
								<img src="../img/icon-time.png" />
								<span id="timemm"></span>
							</li>
						</ul>
					</div>
				</div>
				<!--*************选项卡****************-->
				<div id="wrapper">
					<div class="box">
						<div class="title">
							<p id="title"></p>
						</div>
						<div class="date">
				<!--选择时间开始-->
				<div class="sub_date">
					<br/>
					<p id="choose-time"></p><span id="timeHint"></span>
					<ul>
						<li id="mon" >
							<p id="text-month"></p>
							<input id="jian1" class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp1" class="activesel"></input>
							<input id="jia1" class="" name="" type="button" value="▼" />
						</li>
						<li id="day">
							<p id="text-day"></p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp2" class="activesel"></input>
							<input class="" name="" type="button" value="▼" />
						</li>
						<li id="year">
							<p id="text-year"> </p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp3" class="activesel"></input>
							<input class="" name="" type="button" value="▼" />
						</li>
						<li id="hour" class="sele-time">
							<p id="text-hour"></p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp4" class="activesel"></input>
							<input class="" name="" type="button" value="▼" />
						</li>
						<li id="mm">
							<p id="text-mm"></p>
							<input class="" name="" type="button" value="▲" />
							<input readonly="readonly" unselectable="on" readonlyunselectable="on" type="text" id="dateinp5" class="activesel"></input>
							<input class="" name="" type="button" value="▼" />
						</li>
					</ul>
					<div id="comp" class="completesel"></div>
				</div>

					</div>
				</div>

				<div id="bottomVue" class="bottom_tiao">
					<img v-if="window.sessionStorage.language=='en'" src="../img/bottom-en.png"
						/>
					<img v-else src="../img/bottom-ch.png" />
				</div>
			</div>
		</div>
		<script src="../js/bottom.js"></script>
		<script src="../js/top.js"></script>
		<script>
			//头部的日期和时间
			$("#dateweek").html(dateweek); //日期
			$("#roomNumber").html(window.sessionStorage.language == "zh-cn" ? "房间号 " + window.localStorage.roomId : "Room " + window.localStorage.roomId);
			// $("#customer").html(window.sessionStorage.language == "zh-cn" ? "欢迎 " + window.sessionStorage.customer : "Welcome " + window.sessionStorage.customer);
			if(window.sessionStorage.language == "zh-cn") {
				if(window.sessionStorage.customerTitle == 'Mr') {
					$("#customer").html("欢迎 " + window.sessionStorage.customer + '先生');
				} else if(window.sessionStorage.customerTitle == 'Ms') {
					$("#customer").html("欢迎 " + window.sessionStorage.customer + '女士');
				}
			} else {
				if(window.sessionStorage.customerTitle == 'Mr') {
					$("#customer").html("Welcome " + 'Mr ' + window.sessionStorage.customer);
				} else if(window.sessionStorage.customerTitle == 'Ms') {
					$("#customer").html("Welcome " + 'Ms ' + window.sessionStorage.customer);
				}
			}
			try {
				$("#logo").attr("src", JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url);
			} catch(e) {}
			
			
			var date = new Date(parseInt(window.sessionStorage.localTime));
			var year = date.getFullYear();
			var month = date.getMonth() + 1;
			var day = date.getDate(); 
			var hh = date.getHours();
			var mm = date.getMinutes();
			$('#dateinp1').attr('placeholder', month);
			$('#dateinp2').attr('placeholder', day);
			$('#dateinp3').attr('placeholder', year);
			$('#dateinp4').attr('placeholder', hh);
			$('#dateinp5').attr('placeholder', mm);

			var month_s = document.getElementById("dateinp1").placeholder;
			var day_s = document.getElementById("dateinp2").placeholder;
			var year_s = document.getElementById("dateinp3").placeholder;
			var hour_s = document.getElementById("dateinp4").placeholder;
			var mm_s = document.getElementById("dateinp5").placeholder;

			var mmChanged = false;
			var changeNumber;
			changeNumber = 60 - parseInt(mm_s);
			changeNumber = changeNumber % 15;
			if(changeNumber == 0) {
				changeNumber = 15;
			}
			
			function GetQueryString(url, name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
				var r = url.substr(1).match(reg);
				if(r != null) return unescape(r[2]);
				return null;
			};
			//定义初始化行列
			var currentpage = 1;
			var currentCol = jsondata.length * 2;
			var nowlater = 1;
			var currentDateType = 4;
			var paytype = 0;
			document.onkeydown = function(e) {
				e = window.event || e;

				if(isEmpty)
					console.log(isEmpty)
				if(e.keyCode == 8 || e.keyCode == 88) {
					history.go(-1)
					return false;
				}

				switch(e.keyCode) {
					case 13: //enter
					case 29443:
						toPage();
						break;
					case 4:
					case(37 || "KEY_LEFT"): //向左
						switch(currentpage) {
							case 1:
								currentCol--;
								change();
								break;
							case 2:
								break;
							case 3:

								break;
							case 4:

								break;
							case 5:
								switch(currentDateType) {
									case 1:
										$("#mon").removeClass("sele-time");
										$("#mm").addClass("sele-time");
										currentDateType = 5;
										break;
									case 2:
										$("#day").removeClass("sele-time");
										$("#mon").addClass("sele-time");
										currentDateType = 1;
										break;
									case 3:
										$("#year").removeClass("sele-time");
										$("#day").addClass("sele-time");
										currentDateType = 2;
										break;
									case 4:
										$("#hour").removeClass("sele-time");
										$("#year").addClass("sele-time");
										currentDateType = 3;
										break;
									case 5:
										$("#mm").removeClass("sele-time");
										$("#hour").addClass("sele-time");
										currentDateType = 4;
										break;
									default:
										break;
								}
								break;
							default:
								break;
						}
						break;
					case 5:
					case(39 || "KEY_RIGHT"): //向右
						switch(currentpage) {
							case 1:
								currentCol++;
								change();
								break;
							case 2:

								break;
							case 3:

								break;
							case 4:

								break;
							case 5:
								switch(currentDateType) {
									case 1:
										$("#mon").removeClass("sele-time");
										$("#day").addClass("sele-time");
										currentDateType = 2;
										break;
									case 2:
										$("#day").removeClass("sele-time");
										$("#year").addClass("sele-time");
										currentDateType = 3;
										break;
									case 3:
										$("#year").removeClass("sele-time");
										$("#hour").addClass("sele-time");
										currentDateType = 4;
										break;
									case 4:
										$("#hour").removeClass("sele-time");
										$("#mm").addClass("sele-time");
										currentDateType = 5;
										break;
									case 5:
										$("#mm").removeClass("sele-time");
										$("#mon").addClass("sele-time");
										currentDateType = 1;
										break;
									case 6:
										break;
									default:
										break;
								}
								break;
							default:
								break;
						}
						break;
					case 29460:
					case(38 || "KEY_UP"): //向上
						switch(currentpage) {
							case 1:
								if(currentCol == jsondata.length * 2) {
									currentCol = jsondata.length * 2 - 1
								} else if(currentCol > 3) {
									currentCol -= 4;
								} else {
									currentCol = jsondata.length * 2;
								}
								change();
								break;
							case 2:
								$("#").scrollTop($("#").scrollTop() - 50);
								return false;
								break;
							case 3:
								switch(nowlater) {
									case 1:
										break;
									case 2:
										$("#sel").removeClass("sel");
										$("#now").addClass("sel");
										nowlater = 1;
										break;
									default:
										break;
								}
								return false;
								break;
							case 4:
								//                        switch (paytype) {
								//                            case 0:
								//                                paytype = 2;
								//                                $('#li_pay0').removeClass("on");
								//                                $('#li_pay2').addClass("on");
								//                                break;
								//                            case 1:
								//                                paytype = 0;
								//                                $('#li_pay1').removeClass("on");
								//                                $('#li_pay0').addClass("on");
								//                                break;
								//                            case 2:
								//                                paytype = 1;
								//                                $('#li_pay2').removeClass("on");
								//                                $('#li_pay1').addClass("on");
								//                                break;
								//                            default:
								//                                break;
								//                        }
								return false;
								break;
							case 7:
							case 5: //加
								switch(currentDateType) {
									case 1: //month
										if(month_s < 12) {
											month_s++;
											$('#dateinp1').attr('value', month_s);
										} else {
											month_s = 1;
											$('#dateinp1').attr('value', month_s);
										}
										setTotalDay(year_s, month_s);;
										break;
									case 2:
										if(day_s < totalDay) {
											day_s++;
											$('#dateinp2').attr('value', day_s);
										} else {
											day_s = 1;
											$('#dateinp2').attr('value', day_s);
										};
										break;
									case 3:
										year_s++;
										$('#dateinp3').attr('value', year_s);
										setTotalDay(year_s, month_s);
										break;
									case 4:
										if(hour_s < 23) {
											hour_s++;
											$('#dateinp4').attr('value', hour_s);
										} else {
											hour_s = 0;
											$('#dateinp4').attr('value', hour_s);
										};
										break;
									case 5:
										if(!mmChanged) {
											if(mm_s < 45) {
												mm_s = parseInt(mm_s) + changeNumber;
												$('#dateinp5').attr('value', mm_s);
											} else {
												mm_s = 0;
												$('#dateinp5').attr('value', mm_s);
												hour_s++;
												$('#dateinp4').attr('value', hour_s);
											}
											mmChanged = true;
										} else {
											if(mm_s < 45) {
												mm_s = parseInt(mm_s) + 15;
												$('#dateinp5').attr('value', mm_s);
											} else {
												mm_s = 0;
												$('#dateinp5').attr('value', mm_s);
												hour_s++;
												$('#dateinp4').attr('value', hour_s);
											}
										};
										break;
									default:
										break;
								}
								setHint();
								break;
							default:
								break;
						}
						break;
					case 29461:
					case(40 || "KEY_DOWN"): //向下

						switch(currentpage) {
							case 1:
								if(currentCol < jsondata.length * 2 - 4) {
									currentCol += 4;
								} else if(currentCol < jsondata.length * 2) {
									currentCol = jsondata.length * 2;
								} else {
									currentCol = 0;
								}
								change();
								break;
							case 2:
								$("#app2").scrollTop($("#app2").scrollTop() + 50);
								return false;
								break;
							case 3:
								switch(nowlater) {
									case 1:
										$("#now").removeClass("sel");
										$("#sel").addClass("sel");
										nowlater = 2;
										break;
									case 2:
										break;
									default:
										break;
								}
								return false;
							case 4:
								//                        $('#paybtn').removeClass("active-button");

								//                        switch (paytype) {
								//                            case 0:
								//                                paytype = 1;
								//                                $('#li_pay0').removeClass("on");
								//                                $('#li_pay1').addClass("on");
								//                                break;
								//                            case 1:
								//                                paytype = 2;
								//                                $('#li_pay1').removeClass("on");
								//                                $('#li_pay2').addClass("on");
								//                                break;
								//                            case 2:
								//                                paytype = 0;
								//                                $('#li_pay2').removeClass("on");
								//                                $('#li_pay0').addClass("on");
								//                                break;
								//                            default:
								//                                break;
								//                        }

								//                        if (paytype_selected == paytype) {
								//                            $('#paybtn').addClass("active-button");
								//                        }
								return false;
								break;
							case 11:
							case 5: //减
								switch(currentDateType) {
									case 1:
										if(month_s > 1) {
											month_s--;
											$('#dateinp1').attr('value', month_s);
										} else {
											month_s = 12;
											$('#dateinp1').attr('value', month_s);
										}
										setTotalDay(year_s, month_s);;
										break;
									case 2:
										if(day_s > 1) {
											day_s--;
											$('#dateinp2').attr('value', day_s);
										} else {
											day_s = totalDay;
											$('#dateinp2').attr('value', day_s);
										};
										break;
									case 3:
										if(year_s > year) {
											year_s--;
											$('#dateinp3').attr('value', year_s);
											setTotalDay(year_s, month_s);
										};
										break;
									case 4:
										if(hour_s > 0) {
											hour_s--;
											$('#dateinp4').attr('value', hour_s);
										} else {
											hour_s = 23;
											$('#dateinp4').attr('value', hour_s);
										};
										break;
									case 5:
										if(!mmChanged) {
											return false;
										}
										if(mm_s > 0) {
											mm_s -= 15;
											$('#dateinp5').attr('value', mm_s);
										} else {
											mm_s = 45;
											$('#dateinp5').attr('value', mm_s);
										};
										break;
									default:
										break;
								}
								setHint();
								break;
								return false;
							default:
								break;
						}
						break;
						//            case 32:
						//                cancelDialog();
						//                break;
					case 88: //返回
					case 8:

						history.go(-1)

						return false;
						break;　
					case 45: //退出
						return false;
						break;
					default:
						break;
				}
			};
			//设置选中状态
			function setFocus() {
				var it = document.getElementById("ul");
				if(currentItemIndex > -1) {
					it.children[currentItemIndex].focus();
				}
				return false;
			}
			
			

			/**
			 * 数据
			 */
			var pageType = ""; //页面类型
			var jsondata = new Array();
			var menuDataList = new Array();
			/**
			 * 菜单数据绑定
			 */
			var vue = new Vue({
				el: '#app2',
				data: {
					menudata: menuDataList,
					pageType: pageType
				}
			});
			/**
			 * item数据绑定
			 */
			var vue = new Vue({
				el: '#app',
				data: {
					jsondata: jsondata
				},
				methods: {
					if(currentItemIndex > -1){
						window.sessionStorage.secondPage_currentItemIndex =currentItemIndex;
						window.sessionStorage.secondPage_currentItemIndex =currentIndexIdex;
					}
					toDetail: function() {
						if(currentItemIndex > -1) {
							
							window.sessionStorage.secondPage_currentMenuIndex = currentMenuIndex;
							window.sessionStorage.secondPage_currentItemIndex = currentItemIndex;
							if(pageType == "merchandise") {
								window.sessionStorage.itemDetail = JSON.stringify(jsondata[currentItemIndex]);
								window.location.href = "prodetailV3.html";
							} else if(pageType == "INFO") {
								window.sessionStorage.infoDetail = JSON.stringify(jsondata[currentItemIndex]);
								window.location.href = "infoDetail.html";
							} else if(pageType == "SERVICE") {
								window.sessionStorage.serverDetail = JSON.stringify(jsondata[currentItemIndex]);
								window.location.href = "Servicesde.html";
							}
						}
					},
					changeItem: function(index) {
						currentItemIndex = index;
						changeItem();
					}
				},
			});

			/**
			 * 初始化页面数据
			 */
			
			$(function() {
				getData();
			});
			/**
			 * 获取数据
			 * 1、获取左侧菜单
			 * 2、根据左侧菜单加载右侧列表
			 */
			var baseData;

			function getData() {
				baseData = JSON.parse(window.sessionStorage.baseMenuData);
				//console.log(baseData);
				var title = window.sessionStorage.language == "en" ? "Home" : "首页";
				$("#title").html(title + " > " + baseData.translates[window.sessionStorage.language].title);
				getMenuData(0);
			};

			function toDetail() {
				if(currentItemIndex > -1) {
					window.sessionStorage.secondPage_currentMenuIndex = currentMenuIndex;
					window.sessionStorage.secondPage_currentItemIndex = currentItemIndex;
					if(pageType == "merchandise") {
						window.sessionStorage.itemDetail = JSON.stringify(jsondata[currentItemIndex]);
						window.location.href = "prodetailV3.html";
					} else if(pageType == "INFO") {
						window.sessionStorage.infoDetail = JSON.stringify(jsondata[currentItemIndex]);
						window.location.href = "infoDetail.html";
					} else if(pageType == "SERVICE") {
						window.sessionStorage.serverDetail = JSON.stringify(jsondata[currentItemIndex]);
						window.location.href = "Servicesde.html";
					}
				}
			};

			/**
			 * 取消弹窗
			 */
			function cancelDialog() {
				switch(currentpage) {
					case 1:
						if(fromPage) {
							window.history.go(-3);
						} else {
							window.history.go(-1);
						}
						break;
					case 2:
						$(".mianban3").css("display", "none");
						currentpage = 1;
						break;
					case 3:
						$(".mianban3").css("display", "none");
						$(".mianban4").css("display", "none");
						$(".mianban5").css("display", "none");
						$(".mianban6").css("display", "none");
						$(".payqr").css("display", "none");
						$(".date").css("display", "none");
						currentpage = 1;
						break;
					case 4:
						location.reload();
						break;
					case 5:
						$(".mianban3").css("display", "none");
						$(".mianban4").css("display", "none");
						$(".mianban5").css("display", "none");
						$(".mianban6").css("display", "none");
						$(".payqr").css("display", "none");
						$(".date").css("display", "none");
						resetDate();
						currentpage = 1;
						break;
					case 6:
						location.reload();
						break;
					case 7:
						location.reload();
						break;
					default:
						break;
				}
			};

			function resetDate() {
				//时间选择
				date = new Date();
				year = date.getFullYear();
				month = date.getMonth() + 1;
				day = date.getDate();
				hh = date.getHours();
				//        mm = date.getMinutes();
				mm = 0;

				$('#dateinp1').attr('placeholder', month);
				$('#dateinp1').attr('value', "");
				$('#dateinp2').attr('placeholder', day);
				$('#dateinp2').attr('value', "");
				$('#dateinp3').attr('placeholder', year);
				$('#dateinp3').attr('value', "");
				$('#dateinp4').attr('placeholder', hh);
				$('#dateinp4').attr('value', "");
				$('#dateinp5').attr('placeholder', mm);
				$('#dateinp5').attr('value', "");

				month_s = document.getElementById("dateinp1").placeholder;
				day_s = document.getElementById("dateinp2").placeholder;
				year_s = document.getElementById("dateinp3").placeholder;
				hour_s = document.getElementById("dateinp4").placeholder;
				mm_s = document.getElementById("dateinp5").placeholder;
				currentDateType = 4;
				$("#dateinp4").focus();
			}

			function subtractCnt() {
				if(jsondata[parseInt(currentCol / 2)].quantity > 0) {
					var count = parseInt(jsondata[parseInt(currentCol / 2)].quantity) - 1;
					editCart(jsondata[parseInt(currentCol / 2)].cart_id, count);
				}
			};

			function addCnt() {
				var count = parseInt(jsondata[parseInt(currentCol / 2)].quantity) + 1;
				editCart(jsondata[parseInt(currentCol / 2)].cart_id, count);
			};
			function setHint() {
				if($("#timeHint")[0].style.display == "block") {
					$("#timeHint").css("display", "none");
				}
			}
			

			
			/**
			 * 菜单切换 右边数据加载
			 * @param {Object} index
			 */
			function changeData(index) {
				jsondata.splice(0, jsondata.length);
				requestData(menuDataList[index].id);
			};
		</script>
	</body>

</html>